<div class="col-sm-6 col-sm-offset-3 clearfix an-allheight an-page-div">
	<div id="UpperSplash" class="row" >
		<div class ='col-xs-12 an-vert'>
			<h2 class='text-center'>Hi there!</h2>
			<div class="col-xs-12 text-center">
				<img src="assets/img/logo.png" class='logo text-center img-responsive' alt="logo">
			</div>
			<h3 class='text-center'>Let's help each</h3>
			<h3 class='text-center'>other hold it down.</h3>
		</div>
	</div>
	<div id="Wave" class="row" >
		<div id="SplashBg"></div>
	</div>
	<footer id="LowerSplash" class="row">
		<a ui-sref="login" class="btn an-btn-dark col-xs-3 col-xs-offset-2">Login</a>
		<a ui-sref="register" class="btn an-btn-dark col-xs-3 col-xs-offset-2">Sign Up</a>
	</footer>
</div>
<!-- <div ui-view="topMenu"></div>

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>

<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p> -->