<div id="upperSplash" >

	<h1>Hi There!</h1>
	<img src="assets/img/logo.png" class='img-responsive' alt="logo">
	<h2>Let's help each</h2>
	<h2>other hold it down.</h2>
</div>
<div id="lowerSplash" >
	<p><a href="#/login" class="btn btn-primary">Login</a></p>	<p><a href="#/register" class="btn btn-primary">Register</a></p>
</div>

<!-- <div ui-view="topMenu"></div>

<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>

<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p> -->