<div class="col-xs-5ths text-center an-bottom-menu-item an-border-right" ng-class="vm.menuState=='home'?'an-bottom-selected':''">
    <a ui-sref="home">
    	<div class="an-bottom-menu-icon-wrapper"><img class="an-bottom-menu-icon" id="AnIcon1" src="assets/img/crew.png"></div>
    	<div>my crew</div>
    </a>
</div>
<div class="col-xs-5ths text-center an-bottom-menu-item an-border-right" ng-class="vm.menuState=='resources'?'an-bottom-selected':''">
    <a ui-sref="resources">
    	<div class="an-bottom-menu-icon-wrapper"><img class="an-bottom-menu-icon" id="AnIcon2" src="assets/img/resources.png"></div>
    	<div>resource</div>
    </a>
</div>
<div id="SosMenuItem" class="col-xs-5ths text-center an-bottom-menu-item" ng-class="vm.menuState=='sos'?'an-bottom-selected':''">
    <a ui-sref="sos">
    	<div class="an-bottom-menu-icon-wrapper"><img class="an-bottom-menu-icon" id="AnIcon3" src="assets/img/sos.png"></div>
    </a>
</div>
<div class="col-xs-5ths text-center an-bottom-menu-item an-border-left" ng-class="vm.menuState=='mood'?'an-bottom-selected':''">
    <a ui-sref="mood">
    	<div class="an-bottom-menu-icon-wrapper"><img class="an-bottom-menu-icon" id="AnIcon4" src="assets/img/mood.png"></div>
    	<div>mood</div>
    </a>
</div>
<div class="col-xs-5ths text-center an-bottom-menu-item an-border-left" ng-class="vm.menuState=='more'?'an-bottom-selected':''">
    <a ui-sref="more">
    	<div class="an-bottom-menu-icon-wrapper"><img class="an-bottom-menu-icon" id="AnIcon5" src="assets/img/more.png"></div>
    	<div>more</div>
    </a>
</div>
<div class="clearfix"></div>




