<div class="col-sm-6 col-sm-offset-3 clearfix an-allheight an-page-div an-gray-bg">
    <div ui-view="topMenu"></div>    
	<div id="SectionWrapper">
		<div class="col-xs-12 an-mood-title-group">
			<div class="an-mood-title">My current mood is: </div>
			<div class="an-mood-desc">{{vm.mood}}</div>
		</div>
		<div class='col-xs-12 center-child'>
		    <img class='' src='assets/img/big_{{vm.mood}}.png'>
		</div>
		<div id="MoodButtons" class="col-xs-12">
			<a ui-sref="moodHistory" class="btn an-btn-dark col-xs-4 col-xs-offset-1">History</a>
			<a ui-sref="moodGroupSelector" class="btn an-btn-dark col-xs-4 col-xs-offset-2">Update</a>
		</div>
	</div>
	<footer id="FooterMenu" class="row">
	    <div ui-view="bottomMenu" class="an-bottom-menu"></div>    
	</footer>
</div>