<div class="col-sm-6 col-sm-offset-3 clearfix an-allheight an-page-div an-gray-bg">
    <div ui-view="topMenu"></div>    
	<div id="SectionWrapper">
		<div class="">
			<div class="an-mood-big-title an-title-{{vm.moodGroupName}} text-center">{{vm.moodGroupTitle}}</div>
		</div>
		<div>
            <div class="an-mood-pic-group col-xs-6" ng-repeat="mood in vm.moodTypes">
				<a ng-click="selectMood($index);">
					<div class="text-center"><img src="assets/img/{{mood.Image}}"></div>
					<div class="text-center an-mood-little-desc an-title-{{vm.moodGroupName}}">{{mood.Title}}</div>
				</a>
            </div>
		</div>
	</div>
	<footer id="FooterMenu" class="row">
	    <div ui-view="bottomMenu" class="an-bottom-menu"></div>    
	</footer>
</div>